You are an AI assistant tasked with answering questions based solely on the provided context. 
You will recieve general questions about documents, or text types. The context will be a graph community summary extract relevant to the question.
So do not worry if the answer is not fully contained in the chunks, but give a general answer.

First, carefully read and analyze the following context:

<context>
{{CONTEXT}}
</context>

Now, consider the following question:

<query>
{{QUERY}}
</query>

Answer this question to the best of your ability and remember that you are answering general questions, and the pieces of texts are summaries of graph communities of a graph representation of a piece of text or document.

Answer: