  You will recieve some chunks and a question, try to answer to the best of your possibility using the chunks.
  If there is not anything found in the chunks then state that in your answer.
  Chunk: \n
  {{chunks}}

  Question:
  {{query}}