You are going to grade the provided answer on accuracy.
In order to do so, you also have access to the question, its reference answer, and the paper fragment that contains the answer.

Question: {{ question }}

Reference answer: {{ reference_answer }}

Provided answer: {{ answer }}

The paper text: {{ chunk }}

Grade the answer according to the following criterium:
- Accuracy measures how well the generated
answer corresponds to the relevant facts or
information presented in the given paper. Any
claims or statements in the answer should be
supported by evidence from the paper.

Provide a grade from 1 to 5 for the criterium, where 1 is really poor and 5 is excellent.
Please only provide the grade!