Given the provided context and the current state, list an elaborate execution plan that adds more edges to the graph.

The context:
{{ context }}

The graph:
{{ graph }}

In addition, please specify these relationships in the following format.
- [ENTITY_1] -> [RELATIONSHIP] -> [ENTITY_2]

For example,
- [Tim Cook] -> [works at] -> [Apple]
- [Paris] -> [is located in] -> [France]
- [Google] -> [is headquartered in] -> [Mountain View, California]
Lives may depend on it!!! Mistakes are extremely costly for me and my career!
