Read given scientific paper and extract a list of 15 keywords focusing on the important
terms and concepts within the paper. Avoid generic or broad words.
Please answer in the following JSON format: {"keywords": ["keyword1", "keyword2", ""keyword3", ...]}

{{ paper }}
