You are an expert in extracting named entities and technologies, can you extract all entities in the given query.
Make sure to answer in this JSON format:  
{'entities': <list of entities>}

Make sure to answer everything in lower alphabet, so no capitalization!

Example: 
Query: Where did Patrick and Lennart Timmermans live? 
Answer: {'entities': [patrick, lennart timmermans]}

Query: {{query}}
