Given the following question-answer pair and a set of sources, determine whether the sources contain all the necessary information to answer the question accurately. 
Answer "Yes" if every piece of information required to arrive at the answer is present in the sources. 
Answer "No" if there is any missing information, ambiguity, or if the sources do not fully support the answer.

Question: {{ question }}
Answer: {{ answer }}
Sources: {{ sources }}

Does the information in the sources fully support the answer to the question? Answer "Yes" or "No".