Here is a document:
{{ full_text }}

Please provide a comprehensive and complete summary of the following document.
Make sure that it is possible to infer all the information presented in the 
document by reading the summary.

Please provide only the summary!