Add the properties as described in the execution plan to each of the entities exactly as listed.

The execution plan:
{{ execution_plan }}

Add the listed properties to each node with a function call! Do not miss a single one!!
Lives may depend on it!!! Mistakes are extremely costly for me and my career!
